

.box{
  display: flex;
  align-items: center;
  justify-content: center;

}

.box .one {
  border-radius : 12px;
  width: 100px;
  height: 100px;
  margin-right: 80px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box .two {
  border-radius : 12px;
  width: 100px;
  height: 100px;
  margin-left: 100px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.two{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 40px 2px;
    cursor: pointer;
    font-size: 1.2em;
}

.one{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 40px 2px;
  cursor: pointer;
  font-size: 1.2em;

}

body{
  background: url("/static/img/home.jpg") 50% 0 no-repeat fixed;
  color: white;
}

.bar2{
  color:white;
  margin-top:10px;
  padding-bottom: 25em;
}

.img_resp{
  width: 100%;
  max-width: 400px;
  height: auto;
}

.bar{
  padding-top: 30px;
  margin-top:30px;
}

.bar1{
  color:white;
}

.row{
  padding: 40px 5px 4px 4px;
  margin-top: 40px;
}

@media (max-width: 900px) {
  .bar{
    justify-content: center;
  }
}
.f1{
    background-color:#343339;
    color:white;
}

h2{
  padding: 3px;
  text-align: center;
  font-family: 'Sansita Swashed', cursive;
  color: white;
}

h3{
  padding: 3px;
  text-align: center;
  font-family: 'Sansita Swashed', cursive;
  color: white;
}


.tab{
  overflow-y: auto; height: 1000px;
}

.tab th{
  position: sticky;
  top: 0;
}

table {
  line-height: 25px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-spacing: 5;
  width: 50%;
}

th, td {
  text-align: center;
  padding: 8px;
}

th{
  background-color: #005aa7;
}

tr{
  border-bottom-style: solid;
}
